<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">


	<!-- Jquery -->
	<script src="{% static 'jquery-3.7.0.min.js' %}"></script>

    <!-- title -->
    <title>{% block title %}{% endblock title %}</title>
</head>

<!-- css -->
{% block css %}
{% endblock css %}
<body>
    <main>
        {% block content %}{% endblock content %}
    </main>
</body>

<!-- javascript -->
{% block javascript %}{% endblock javascript %}
</html>